
<main>
  <!-- ===== HOME =====-->
  <div class="home">
    <div class="parallax home__parallax home__parallax-img1" data-rellax-speed="-9"></div>
    <div class="parallax home__parallax home__parallax-img2" data-rellax-speed="-7"></div>
    <div class="parallax home__parallax home__parallax-img3" data-rellax-speed="-6"></div>
    <div class="parallax home__parallax home__parallax-img4" data-rellax-speed="-3" style=""></div>

    <h1 class="parallax home__title" data-rellax-speed="-6">RENT4</h1>
    <span class="parallax home__subtitle" data-rellax-speed="-5">Life is easier</span>


    <div class="card welcome-page" style="position:absolute;">
      <div class="card-header">
        Welcome to RENT4
      </div>
      <div class="card-body">
        <h5 class="card-title">Rent4: Your Ultimate Rental Platform</h5>
        <p class="card-text">Rent4 is a revolutionary rental platform that offers a wide range of products and services for all your rental needs. Whether you're looking to rent equipment, tools, vehicles, or even spaces, Rent4 has got you covered. With a user-friendly interface and seamless rental process, Rent4 makes it easy for you to find what you need and start renting in no time.</p>

        <div class="row align-items-center">
          <div class="col-md-6 mb-3">
            <img class="imgs img-fluid" src="assets/img/ai-technology-microchip-background-digital-transformation-concept.jpg" alt="">
          </div>
          <div class="col-md-6 mb-3">
            <img class="imgs img-fluid" src="assets/img/0%20qdhb5TNLjc_7N0wD.jpg" alt="">
          </div>
        </div>

        <a [routerLink]="['/chat']" class="btn btn-outline-success mt-3">Get Started</a>
      </div>
      </div>


      <img src="assets/img/backiee-76839-portrait.jpg" class="img1" alt="">


    <div class="home__scroll">
      <a href="#section"><i class='bx bx-mouse'></i></a>

    </div>
  </div>

  <!-- ===== SECTION =====-->
  <section class="l-section" id="section">
    <div class="section">
      <div class="section__data">
        <h2 class="section__title">The Power of Artificial Intelligence</h2>
        <p class="section__text">Artificial Intelligence (AI) is revolutionizing the way we live and work. Through advanced algorithms and machine learning, AI systems can analyze vast amounts of data, make predictions, and automate tasks with unprecedented accuracy and efficiency.</p>
        <p class="section__text">From personalized recommendations on streaming platforms to autonomous vehicles on our roads, AI is transforming industries and enhancing our daily lives. It's helping doctors diagnose diseases, improving customer service experiences, and even aiding in scientific research.</p>
<!--        <p class="section__text">As we continue to harness the power of AI, it's crucial to ensure that its development is guided by ethical principles and that its benefits are accessible to all. By leveraging AI responsibly, we can unlock new possibilities and create a better future for humanity.</p>-->
      </div>

      <img src="../../../assets/img/openAI-chat-gpt-1.jpeg" alt="" class="section__img">
      <img  alt="">
    </div>
  </section>

</main>


<script src="assets/js/rellax.min.js"></script>

<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>

<!-- SCROLL REVEAL -->
<script src="https://unpkg.com/scrollreveal"></script>

<!-- MAIN JS -->
<script src="assets/js/main.js"></script>
